/* Start variable */
:root {
  --main-color: #19c8fa;
  --transparent-color: rgb(15 115 143 / 70%);
  --section-padding: 100px;
}
/* End variable */
/* Start global rules */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style: none;
}
.container {
  padding: 0 15px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* end global rules */
/* Start component */
.main-heading {
  text-align: center;
}
.main-heading h2 {
  position: relative;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 40px;
}
.main-heading h2::before {
  content: "";
  width: 120px;
  height: 2px;
  background-color: #333;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  bottom: -35px;
}
.main-heading h2::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  border: 2px solid #333;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  bottom: -45px;
  background-color: #fff;
}
.main-heading p {
  margin: 80px auto 100px;
  line-height: 2;
  color: #777;
}
/* End component */
/* Start Header rules */
header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
}
header .container::after {
  content: "";
  background-color: #a2a2a2;
  width: calc(100% - 30px);
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 15px;
}
header .container .logo img {
  height: 40px;
}
header nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header nav .menu {
  color: white;
  font-size: 22px;
}
header nav .links ul {
  display: none ;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: rgb(0 0 0 / 50%);
}
header nav ul li a {
  padding: 10px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  transition: 300ms;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  z-index: 2;
  position: relative;
  color: white;
  user-select: none;
}
@media (min-width: 768px) {
  header nav .menu {
    display: none;
  }
  header nav .links:hover ul,
  header nav .links ul {
    display: flex;
    flex-direction: row;
    position: inherit;
    width: auto;
    background-color: inherit;
  }
  header nav ul li a {
    padding: 40px 10px;
  }
}

header nav ul li a.active,
header nav ul li a:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
header nav .form {
  width: 40px;
  height: 30px;
  position: relative;
  margin-left: 30px;
  border-left: 1px solid white;
}
header nav .form i {
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  font-size: 20px;
}
/* End Header rules */
/* Start Landing */
.landing {
  min-height: 100vh;
  background-color: #1f2021;
  position: relative;
  overflow: hidden;
}
.landing img {
  position: absolute;
  height: 100%;
  min-width: 100%;
  right: 0;
  opacity: 0;
  transition: 1s opacity;
  -webkit-transition: 1s opacity;
  -moz-transition: 1s opacity;
  -ms-transition: 1s opacity;
  -o-transition: 1s opacity;
}
.landing img.active{
  opacity: 1;
}
.landing .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 50%);
}
.landing .text {
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translatey(-50%);
  -webkit-transform: translatey(-50%);
  -moz-transform: translatey(-50%);
  -ms-transform: translatey(-50%);
  -o-transform: translatey(-50%);
  color: #fff;
  background-color: var(--transparent-color);
  width: 100%;
  padding: 40px 25px 40px 35px;
  display: flex;
  justify-content: flex-end;
}
.landing .text .content {
  max-width: 100%px;
}
@media (min-width: 768px) {
  .landing .text {
    width: 621px;
  }
  .landing .text .content {
    max-width: 500px;
  }
}
.landing .text .content h2 {
  line-height: 1.6;
  margin-bottom: 30px;
  font-weight: normal;
  font-size: 30px;
}
.landing .text .content p {
  font-size: 13px;
  line-height: 2;
}
.landing .change-background {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  color: #eee;
  cursor: pointer;
  display: none;
}
.landing .change-background.disabled {
  color: #8a8a8a;
}
@media (min-width: 768px) {
  .landing .change-background {
    display: block;
  }
}
.landing .fa-angle-left {
  left: 30px;
}
.landing .fa-angle-right {
  right: 30px;
}
.landing ul {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  display: flex;
}
.landing ul li {
  height: 20px;
  width: 20px;
  border: 1px solid #fff;
  margin-right: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
  transition: 300ms;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
}
.landing ul li:last-of-type {
  margin: 0;
}
.landing ul li.active,
.landing ul li:hover {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
/* End Landing */
/* Start services */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
@media (min-width: 768px) {
  .services .services-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 60px 40px;
  }
}
.services .srv {
  flex-direction: column;
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
}
.services .srv img {
  margin: 0 0 30px;
}
@media (min-width: 768px) {
  .services .srv {
    flex-direction: row;
    text-align: left;
    align-items: flex-start;
    margin-bottom: 0;
  }
  .services .srv img {
    margin-right: 50px;
    margin-bottom: 0;
  }
}
.services .srv .text h3 {
  color: var(--main-color);
  margin-bottom: 30px;
}
.services .srv .text p {
  line-height: 2;
  color: #777;
}
/* End services */
/* Start desgin */
.design {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  height: 600px;
  position: relative;
  background-color: #1f2021;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}

.design .image {
  position: relative;
  bottom: -150px;
  display: none;
}
@media (min-width: 768px) {
  .design .image {
    display: block;
  }
}

.design .text {
  position: relative;
  right: 0;
  top: 50%;
  transform: translatey(-50%);
  -webkit-transform: translatey(-50%);
  -moz-transform: translatey(-50%);
  -ms-transform: translatey(-50%);
  -o-transform: translatey(-50%);
  color: #fff;
  background-color: var(--transparent-color);
  width: 100%;
  padding: 40px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  font-weight: 200;
}
@media (min-width: 768px) {
  .design .text {
    width: 50%;
    right: -7%;
  }
}
.design .text h2 {
  margin-bottom: 40px;
  font-weight: inherit;
}
.text ul li {
  position: relative;
  padding: 10px 0px;
  margin-left: 40px;
}
.text ul li::before {
  content: url(../images/desgin/Icon.png);
  position: absolute;
  left: -45px;
  top: 11px;
}
/* End desgin */
/* Start Portfolio  */
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.portfolio .container .shuffle {
  display: flex;
  justify-content: center;
}
.portfolio .container .shuffle li {
  padding: 10px 15px;
  text-transform: capitalize;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  cursor: pointer;
}
@media (min-width: 768px) {
  .portfolio .container .shuffle li {
    padding: 10px 20px;
  }
}
.portfolio .container .shuffle li.active,
.portfolio .container .shuffle li:hover {
  background-color: var(--main-color);
  color: white;
}
.portfolio .images-holder {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}
.portfolio .images-holder .box {
  position: relative;
  overflow: hidden;
  margin: 10px;
  transition: 300ms;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
}
@media (min-width: 768px) {
  .portfolio .images-holder .box {
    flex-basis: 50%;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .portfolio .images-holder .box {
    flex-basis: 25%;
  }
}
.portfolio .images-holder .box img {
  max-width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.portfolio .images-holder .box .caption {
  position: absolute;
  left: 0px;
  padding: 20px;
  background-color: white;
  width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  bottom: -100%;
}
.portfolio .images-holder .box:hover .caption {
  bottom: 0;
}
.portfolio .images-holder .box:hover img {
  transform: rotate(3deg) scale(1.1);
  -webkit-transform: rotate(3deg) scale(1.1);
  -moz-transform: rotate(3deg) scale(1.1);
  -ms-transform: rotate(3deg) scale(1.1);
  -o-transform: rotate(3deg) scale(1.1);
}
.portfolio .images-holder .box:hover .caption h4 {
  font-weight: normal;
  margin-bottom: 10px;
}
.portfolio .images-holder .box:hover .caption P {
  color: var(--main-color);
}
.portfolio .more {
  background-color: var(--main-color);
  color: white;
  text-decoration: none;
  padding: 10px 25px;
  display: block;
  margin: 30px auto;
  width: fit-content;
  max-width: 91px;
  box-shadow: 0px 0px 8px 4px #ddd;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  font-size: 16px;
}
.portfolio .more:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
/* End Portfolio  */
/* start video */
.video {
  position: relative;
}
.video::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 40%);
}
.video video {
  width: 100%;
}
.video .text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  background-color: var(--transparent-color);
  color: #fff;
  width: 100%;
  padding: 50px;
  text-align: center;
}
.video .text h2 {
  margin-bottom: 30px;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1.2em;
}
@media (min-width: 768px) {
  h2 {
    font-size: 1.5em;
  }
}
.video .text p {
  margin-bottom: 20px;
}
.video .text button {
  background-color: #1f2021;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
}
/* end video */
/* Start about */
.about {
  padding-top: var(--section-padding);
  overflow: hidden;
  text-align: center;
}
.about img {
  position: relative;
  max-width: 100%;
  bottom: -60px;
  margin-top: -60px;
  left: -20px;
}
@media (min-width: 768px) {
  .about img {
    bottom: -120px;
    margin-top: -120px;
  }
}
/* End about */
/* Start stats */
.statistic {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;
  background-image: url(../images/Statistic/hero-img_copy.jpg);
  background-size: cover;
  position: relative;
}
.statistic::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 50%);
}
.statistic .container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(267px, 1fr));
  background-color: var(--transparent-color);
  padding: 50px;
}
.statistic .container .box {
  color: white;
  margin-top: 40px;
}
.statistic .container .box img {
  margin-bottom: 30px;
}
.statistic .container .box .number {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 20px;
}
.statistic .container .box p {
  font-size: 14px;
  font-weight: 300;
}
/* End stats */
/* Start Skills */

.skills {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.skills .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (min-width: 992px) {
  .skills .container > div {
    flex-basis: 45%;
  }
}
.skills .container > div > h3 {
  margin: 0 0 30px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}
.skills .container > div > p {
  color: #777;
  text-align: center;
  line-height: 2;
  margin-bottom: 80px;
}
@media (min-width: 768px) {
  .skills .container > div > p {
    margin-bottom: 60px;
  }
}
.skills .testimonials .testimonials-container{
  overflow: hidden;
  position: relative;
}
.skills .testimonials .testimonials-container .testimonials-slide {
  position: relative;
  max-width: 100%;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  top: 0;
}
.skills .testimonials .testimonials-container .testimonials-slide:last-of-type {
  position: absolute;
  transform: translateX(120%);
  -webkit-transform: translateX(120%);
  -moz-transform: translateX(120%);
  -ms-transform: translateX(120%);
  -o-transform: translateX(120%);
}
.skills .testimonials .testimonials-container .testimonials-slide:first-of-type {
  position: absolute;
  transform: translateX(-120%);
  -webkit-transform: translateX(-120%);
  -moz-transform: translateX(-120%);
  -ms-transform: translateX(-120%);
  -o-transform: translateX(-120%);
}
.skills .testimonials .testimonials-container .testimonials-slide.active{
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
}
.skills .testimonials .testimonials-container .testimonials-slide.right {
  transform: translateX(120%);
  -webkit-transform: translateX(120%);
  -moz-transform: translateX(120%);
  -ms-transform: translateX(120%);
  -o-transform: translateX(120%);
}
.skills .testimonials .testimonials-container .testimonials-slide.left {
  transform: translateX(-120%);
  -webkit-transform: translateX(-120%);
  -moz-transform: translateX(-120%);
  -ms-transform: translateX(-120%);
  -o-transform: translateX(-120%);
}
.skills .testimonials .testimonials-container .testimonials-slide.hide {
display: none;
}
.skills .testimonials .content {
  display: flex;
  margin-bottom: 30px;
  flex-direction: column;
  text-align: center;
  max-width: 100%;
}
.skills .testimonials .content img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 0 auto 20px;
}
@media (min-width: 768px) {
  .skills .testimonials .content {
    flex-direction: row;
    text-align: start;
  }
  .skills .testimonials .content img {
    margin: 0 20px 0 0;
  }
}
.skills .testimonials .text {
  line-height: 1.8;
  border-bottom: 1px solid #ccc;
}
.skills .testimonials .text p {
  color: #777;
  text-align: right;
  font-size: 14px;
  margin-bottom: 15px;
}
.skills .bullets {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}
.skills .bullets li {
  height: 20px;
  width: 20px;
  border: 1px solid #aaa;
  margin-right: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
  transition: 300ms;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
}
.skills .bullets li:last-of-type {
  margin: 0;
}
.skills .bullets li.active,
.skills .bullets li:hover {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
.skills .our-skills .prog-holder {
  margin-bottom: 40px;
}
.skills .our-skills .prog-holder h4 {
  margin-bottom: 15px;
  font-weight: normal;
  text-transform: uppercase;
}
.skills .our-skills .prog-holder .prog {
  background-color: #dbdbdb;
  height: 30px;
}
.skills .our-skills .prog-holder .prog span {
  display: block;
  background-color: var(--main-color);
  height: 100%;
  position: relative;
}
.skills .our-skills .prog-holder .prog span::before {
  content: attr(data-progress);
  background-color: black;
  color: white;
  padding: 5px 10px;
  position: absolute;
  top: -40px;
  right: -24px;
  border-radius: 4px;
}
.skills .our-skills .prog-holder .prog span::after {
  content: "";
  border: 8px solid transparent;
  border-top-color: black;
  position: absolute;
  right: -6px;
  top: -12px;
}
/* End Skills */
/* Start quote */
.quote {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url(../images/quote/background.jpg);
  background-size: cover;
  position: relative;
  text-align: center;
}
.quote .container {
  position: relative;
}
.quote .container q {
  display: block;
  font-size: 30px;
  margin-bottom: 30px;
}
.quote .container q::before {
  content: "\f10d";
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
}
.quote .container q::after {
  content: "\f10e";
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
}
.quote .container span {
  font-size: 20px;
}
/* end quote */
/* Start pricing */
.pricing {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.pricing .plans {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.pricing .plans .plan {
  background-color: #fcfcfc;
  text-align: center;
}
.pricing .plans .plan .head {
  padding: 40px 20px;
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
.pricing .plans .plan .head h3 {
  font-weight: normal;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.pricing .plans .plan .head span {
  font-size: 60px;
  font-weight: 600;
  position: relative;
}
.pricing .plans .plan .head span::before {
  content: "$";
  font-size: 25px;
  position: relative;
  top: -40px;
  margin-right: -15px;
}
.pricing .plans .plan .head span::after {
  content: "/Mo";
  font-size: 20px;
  position: relative;
  margin-left: -5px;
}
.pricing .plans .plan ul {
  border-bottom: 1px solid var(--main-color);
}
.pricing .plans .plan ul li {
  padding: 20px;
  position: relative;
}
.pricing .plans .plan ul li:not(:last-child)::after {
  content: "";
  width: 140px;
  height: 1px;
  background-color: var(--main-color);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.pricing .plans .plan .foot a {
  display: block;
  padding: 20px;
  text-decoration: none;
  border: 1px solid var(--main-color);
  width: fit-content;
  max-width: 109px;
  margin: 30px auto;
  color: #777;
}
.pricing .contact-text {
  text-align: center;
  margin: 50px auto;
  font-size: 20px;
}
.pricing .contact-link {
  display: block;
  padding: 15px 30px;
  margin: 20px auto;
  background-color: var(--main-color);
  color: white;
  text-decoration: none;
  width: fit-content;
  max-width: 141px;
}
/* End pricing */
/* Start Subscribe */
.subscribe {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: #1f2021;
  color: white;
}
.subscribe .container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 992px) {
  .subscribe .container {
    flex-direction: row;
  }
}
.subscribe form {
  display: flex;
  position: relative;
  width: 500px;
  max-width: 100%;
}
.subscribe form i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 25px;
}
.subscribe form input[type="email"] {
  border: 1px solid white;
  padding: 20px 20px 20px 60px;
  background: none;
  border-right: none;
  caret-color: var(--main-color);
  width: calc(100% - 130px);
}
.subscribe form input[type="submit"] {
  width: 130px;
  background-color: var(--main-color);
  color: #fff;
  border: 1px solid white;
  border-left: none;
  text-transform: uppercase;
  cursor: pointer;
}
.subscribe form input[type="email"]:focus,
.subscribe form input[type="submit"]:focus {
  outline: none;
}
.subscribe form ::placeholder {
  color: white;
}
.subscribe p {
  line-height: 2;
  margin: 30px 0 0;
}
@media (min-width: 992px) {
  .subscribe p {
    line-height: 2;
    margin: 0 0 0 50px;
  }
}
/* End Subscribe */
/* Start Contact */
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.contact .container .content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media (min-width: 768px) {
  .contact .container .content {
    flex-direction: row;
  }
}
.contact .container .content form {
  flex-basis: 70%;
}
.contact .container .content form .main-input {
  padding: 20px;
  display: block;
  border: 1px solid #dbdbdb;
  margin-bottom: 30px;
  width: 100%;
}
.contact .container .content form .main-input:focus {
  outline: none;
}
.contact .container .content form textarea.main-input {
  height: 200px;
}
.contact .container .content form input[type="submit"] {
  background-color: var(--main-color);
  color: #fff;
  padding: 20px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  margin-left: auto;
}
.contact .container .content .info {
  flex-basis: 25%;
  order: -1;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .contact .container .content .info {
    order: 2;
    text-align: start;
    display: block;
  }
}
.contact .container .content .info h4 {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 18px;
}
.contact .container .content .info .phone {
  display: block;
  color: #a8a8a8;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .contact .container .content .info .address h4 {
    margin-top: 80px;
  }
}
.contact .container .content .info address {
  line-height: 2;
  color: #a8a8a8;
}
/* End Contact */
/* Start Footer */
footer {
  padding-top: calc(var(--section-padding) / 2);
  padding-bottom: calc(var(--section-padding) / 2);
  background-color: #121116;
  text-align: center;
  color: white;
}
footer img {
  margin-bottom: 20px;
}
footer p:not(.copy-right) {
  padding: 20px;
  text-transform: uppercase;
  border-bottom: 1px solid white;
  font-size: 22px;
  width: fit-content;
  margin: 20px auto;
  max-width: 200px;
}
footer .social-icons i {
  margin: 10px 15px;
  color: white;
  cursor: pointer;
  transition: 300ms;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
}
footer .social-icons i:hover {
  color: var(--main-color);
}
footer .social-icons a {
  color: #fff;
  cursor: default;
}
footer .copy-right {
  margin-top: 60px;
}
footer .copy-right span {
  font-weight: 800;
  color: var(--main-color);
}
/* End Footer */
